.article {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(214, 213, 213, 0.6);
  font-family: 'Roboto';
}

.title {
  text-align: center;
}

.error {
  color: red;
  font-size: smaller;
}
