.article {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.6);
  font-family: 'Roboto';
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.15);
  padding: 16px;
  border-radius: 16px;
  background: #fff;
}

.title {
  text-align: center;
}

.label {
  font-size: smaller;
}

.input {
  box-sizing: border-box;
  width: 100%;
  min-height: 32px;
  padding: 8px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.input_container {
  width: 90%;
  margin-bottom: 15px;
}

.button {
  background-color: rgb(69, 69, 180);
  border-radius: 5px;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.error {
  color: red;
  font-size: smaller;
}
