.article {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(214, 213, 213, 0.6);
  font-family: 'Roboto';
}

.title {
  text-align: center;
}

.form_container {
  display: flex;
  flex-direction: column;
  width: 350px;
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.15);
  padding: 16px;
  border-radius: 16px;
  background: #fff;
}

.image_wrapper {
  margin: 0 auto;
}
